@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Prefered mangas of the month </h2>
<h4>User preferences - Just for your collection!</h4>

<div class="row">
    @foreach (var manga in Model.PreferredMangas)
    {
        @Html.Partial("MangasSummary", manga)
    }
</div>